.container_landingPage {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 30px;

    div {
        width: 550px;

        p {
            margin-bottom: 20px;
            font-size: 15px;
        }

        .landingPage {
            width: 500px;
            height: 100%;
            padding: 20px;

            input {
                width: 100%;
                height: 40px;
                padding: 5px 0;
                margin: 0 0 10px 0;
                border: none;
                border-radius: 3px;
                outline: none;

                &::placeholder {
                    padding-left: 16px;
                }
            }

            button {
                display: block;
                width: 100%;
                padding: 15px 0px;
                background: #007bff;
                color: white;
                border: none;
                border-radius: 5px;
                cursor: pointer;

            }
        }
    }


}